/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

$color-primary: #50b2bb;
$color-secondary: #5ad869;
$color-tertiary: #f9d648;

$body-text-color: #777;
$button-color: #fff;
$white-button-font: #444;
$color-black: #000;
