/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

$color-primary: #50b2bb;
$color-primary-secondary: #55c57a;
$color-secondary: #5ad869;
$color-tertiary: #f9d648;

$body-text-color: #777;
$button-color: #fff;
$white-button-font: #444;
$color-black: #000;

$color-grey-light: #f7f7f7;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
