/*
COLORS:

Primary color: #50B2BB
Secondary color: #5AD869
Tertiary color: #F9D648

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

$color-primary: #50b2bb;
$color-secondary: #5ad869;
$color-tertiary: #f9d648;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  box-sizing: border-box;
}

/* CUSTOM SCROLL BAR*/
::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
}

.header {
  height: 110vh;
  background-image: linear-gradient(
      to left top,
      rgba($color-primary, 0.8),
      rgba($color-secondary, 0.8)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90vh);
}

.header__logo-box {
  position: absolute;
  top: 3.2rem;
  left: 4.8rem;
}

.header__logo {
  height: 5.6rem;
}

.header__text-box {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 8rem;
}

.heading-primary--main {
  display: block;
  font-size: 6.4rem;
  font-weight: 400;
  letter-spacing: 4.8rem;
  animation: moveInLeft 1s ease-out;
}

.heading-primary--sub {
  display: block;
  font-size: 1.7rem;
  font-weight: 500;
  letter-spacing: 1.6rem;
  animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-19.2rem);
  }

  70% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(19.2rem);
  }

  70% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  border: 0.1rem solid #fff;
  border-radius: 3.5rem;
  padding: 1.6rem 4rem;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.btn--animated {
  animation: moveInBottom 0.7s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.btn::after {
  display: inline-block;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 3.5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0.7rem 2rem rgba(0, 0, 0, 0.3);
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.3);
}

.btn--white:link,
.btn--white:visited {
  background-color: #fff;
  color: #444;
}

.btn--white::after {
  background-color: #fff;
  color: #444;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(16rem);
  }

  70% {
    transform: translateY(-1.2rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
