.header {
  height: 110vh;
  background-image: linear-gradient(
      to left top,
      rgba($color-primary, 0.8),
      rgba($color-secondary, 0.8)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  position: relative;

  @supports (-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95vh);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95vh);
  }

  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    only screen and (min-width: 125em) {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary, 0.8),
        rgba($color-secondary, 0.8)
      ),
      url(../img/hero.jpg);
  }

  @include respond(tab-land) {
    height: 105vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 93vh);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 93vh);
  }

  @include respond(phone) {
    height: 90vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 83vh);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 83vh);
  }

  @include respond(small-phone) {
    height: 78vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 73vh);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 73vh);
  }

  &__logo-box {
    position: absolute;
    top: 3.2rem;
    left: 4.8rem;
  }

  &__logo {
    height: 5.6rem;
  }

  &__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
