.section-about {
  padding: 25rem 8rem;
  margin-top: -28vh;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to left top,
      rgba($color-primary, 0.8),
      rgba($color-secondary, 0.8)
    ),
    url(../img/features.jpg);
  background-size: cover;
  background-position: bottom;
  transform: skewY(7deg);
  margin-top: -5rem;

  & > * {
    transform: skewY(-7deg);
  }
}

.section-tours {
  padding: 25rem 8rem 15rem;
  margin-top: -18vh;
}

.section-stories {
  padding: 15rem 0;
}
